openapi: 3.0.0
info:
  description: Utilize this API to get your Xendit's balance.
  title: Xendit Balance API
  version: 1.0.0
servers:
- description: Xendit API
  url: https://api.xendit.co
- description: Xendit API Staging
  url: https://api.stg.tidnex.dev
security:
- basicAuth: []
paths:
  /balance:
    get:
      description: Get Balance for a specific account type
      operationId: getBalance
      parameters:
      - description: For User ID
        explode: false
        in: header
        name: for-user-id
        required: false
        schema:
          type: string
        style: simple
      - description: Account Type
        explode: true
        in: query
        name: account_type
        required: true
        schema:
          enum:
          - CASH
          - HOLDING
          - TAX
          type: string
        style: form
      - description: Idempotency Key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
          description: success
      security:
      - basicAuth: []
      summary: Get Balance
      tags:
      - balances
components:
  schemas:
    Balance:
      example:
        balance: 0.8008281904610115
      properties:
        balance:
          type: number
      type: object
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
